@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300;400;500;700&family=Quicksand:wght@300;400;500&display=swap');

* {
    /* text */
    font-family: 'Quicksand','Nanum Gothic', sans-serif;
    font-weight: 400;
    color: #5c5c5c;
    font-size: 12px;

    text-align: center;
}

a {
    text-decoration: none;
}

.btn-md {
    padding: 10px 25px;
    border: 1px solid #404040;
}
/* 
.btn-md:hover {
    transition-duration: 1s;
    border: 1px solid black;
} */